<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITrafficMessage" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.32:8000/MessageService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ITrafficMessage" contract="PoliceService.ITrafficMessage"
                name="WSHttpBinding_ITrafficMessage">
                <identity>
                    <userPrincipalName value="S127606\Lars" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>